{% extends 'base.html' %}

{% block main %}

<!-- ↓↓ main ↓↓ -->
    <div>
        <div class="swiper">
            <div class="swiper-wrapper">    
                <div class="swiper-slide"><img src="https://nagoyameshi-pattern-1.herokuapp.com/images/main1.jpg"></div>
                <div class="swiper-slide"><img src="https://nagoyameshi-pattern-1.herokuapp.com/images/main2.jpg"></div>
                <div class="swiper-slide"><img src="https://nagoyameshi-pattern-1.herokuapp.com/images/main3.jpg"></div> 
                <div class="d-flex overlay-background">
                    <div class="container mv-content overlay-text">
                        <h1>甘くて。<br>辛くて。<br><span class="fcog">茶</span>色いあの味。</h1>
                        <p>
                            愛知に来たら、食べてみりん。<br class="sp">名古屋のB級グルメ “ なごやめし ”
                        </p> 
                    </div>    
                </div>      
            </div>
        </div>      
    </div>

<!-- search -->
<div class="search bgbge">
    <!-- <div class="container"> -->
        <h2 class="search_ttl"><img src="assets/images/img_icon01.png" alt="">SEARCH<span class="search_subttl">お店を探す</span></h2>
        <form method="GET" action="" class="user-search-box">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="店舗名・エリア・カテゴリ" name="keyword">
                <button type="submit" class="btn search_btn shadow-sm">検索</button>
            </div>
        </form>
    <!-- </div> -->
</div>

<!-- category -->
<section class="category sec">
    <div class="wrap">
        <h2>カテゴリから探す</h2>
        <div class="row row-cols-xl-6 row-cols-md-3 row-cols-2 g-1 mb-2">
            <div class="col">
                <a href="restaurants?category_id=33" class="card-link">
                    <div class="card">
                        <img src="https://nagoyameshi-pattern-1.herokuapp.com/images/don.jpg" class="card-img vertical-card-image" alt="丼物">
                        <div class="card-img-overlay d-flex justify-content-center align-items-center overlay-background">
                            <h3 class="card-title">ひつまぶし</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="restaurants?category_id=19" class="card-link">
                    <div class="card text-white">
                        <img src="https://nagoyameshi-pattern-1.herokuapp.com/images/udon.jpg" class="card-img vertical-card-image" alt="うどん">
                        <div class="card-img-overlay d-flex justify-content-center align-items-center overlay-background">
                            <h3 class="card-title">きしめん</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="restaurants?category_id=4" class="card-link">
                    <div class="card text-white">
                        <img src="https://nagoyameshi-pattern-1.herokuapp.com/images/ramen.jpg" class="card-img vertical-card-image" alt="ラーメン">
                        <div class="card-img-overlay d-flex justify-content-center align-items-center overlay-background">
                            <h3 class="card-title">台湾ラーメン</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="restaurants?category_id=27" class="card-link">
                    <div class="card text-white">
                        <img src="img_item04.jpg" class="card-img vertical-card-image" alt="味噌カツ">
                        <div class="card-img-overlay d-flex justify-content-center align-items-center overlay-background">
                            <h3 class="card-title">味噌カツ</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="restaurants?category_id=32" class="card-link">
                    <div class="card text-white">
                        <img src="https://nagoyameshi-pattern-1.herokuapp.com/images/fried.jpg" class="card-img vertical-card-image" alt="揚げ物">
                        <div class="card-img-overlay d-flex justify-content-center align-items-center overlay-background">
                            <h3 class="card-title">手羽先</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="restaurants?category_id=26" class="card-link">
                    <div class="card text-white">
                        <img src="img_item06" class="card-img vertical-card-image" alt="モーニング">
                        <div class="card-img-overlay d-flex justify-content-center align-items-center overlay-background">
                            <h3 class="card-title">モーニング</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="mb-5">
            <a href="restaurants?category_id=1" class="btn item_btn">味噌煮込みうどん</a>
            <a href="restaurants?category_id=2" class="btn item_btn">えびふりゃー</a>
            <a href="restaurants?category_id=3" class="btn item_btn">どて煮</a>
            <a href="restaurants?category_id=5" class="btn item_btn">味噌おでん</a>
            <a href="restaurants?category_id=6" class="btn item_btn">カレーうどん</a>
            <a href="restaurants?category_id=7" class="btn item_btn">名古屋コーチン</a>
            <a href="restaurants?category_id=8" class="btn item_btn">あんかけスパゲティ</a>
            <a href="restaurants?category_id=9" class="btn item_btn">鉄板ナポリタン</a>
            <a href="restaurants?category_id=10" class="btn item_btn">天むす</a>
            <a href="restaurants?category_id=11" class="btn item_btn">ふぐ</a>
            <a href="restaurants?category_id=12" class="btn item_btn">寿司</a>
            <a href="restaurants?category_id=13" class="btn item_btn">居酒屋</a>
            <a href="restaurants?category_id=14" class="btn item_btn">中華</a>
            <a href="restaurants?category_id=15" class="btn item_btn">ステーキ・ハンバーグ</a>
            <a href="restaurants?category_id=16" class="btn item_btn">ハンバーガー</a>
            <a href="restaurants?category_id=17" class="btn item_btn">焼き鳥</a>
            <a href="restaurants?category_id=18" class="btn item_btn">そば・うどん</a>
            <a href="restaurants?category_id=20" class="btn item_btn">鉄板焼き</a>
            <a href="restaurants?category_id=21" class="btn item_btn">スイーツ</a>
            <a href="restaurants?category_id=22" class="btn item_btn">パン</a>
            <a href="restaurants?category_id=23" class="btn item_btn">フレンチ</a>
            <a href="restaurants?category_id=24" class="btn item_btn">イタリアン</a>
        </div>
    </div>
</section>


<!-- tag -->
<section class="tag sec">
    <div class="wrap">
        <h2>エリアから探す</h2>
        <div class="row row-cols-xl-6 row-cols-md-3 row-cols-2 g-2 mb-2">
            <div class="col">
                <a href="restaurants?category_id=33" class="card-link">
                    <div class="card">
                        <img src="img_eria01.jpg" class="card-img vertical-card-image" alt="丼物">
                        <div class="card-img-overlay d-flex justify-content-center align-items-center overlay-background">
                            <h3 class="card-title">名古屋駅<br>周辺</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="restaurants?category_id=19" class="card-link">
                    <div class="card text-white">
                        <img src="img_eria02.jpg" class="card-img vertical-card-image" alt="うどん">
                        <div class="card-img-overlay d-flex justify-content-center align-items-center overlay-background">
                            <h3 class="card-title">栄</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="restaurants?category_id=4" class="card-link">
                    <div class="card text-white">
                        <img src="img_eria03.jpg" class="card-img vertical-card-image" alt="ラーメン">
                        <div class="card-img-overlay d-flex justify-content-center align-items-center overlay-background">
                            <h3 class="card-title">大須・矢場町</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="restaurants?category_id=27" class="card-link">
                    <div class="card text-white">
                        <img src="img_eria04.jpg" class="card-img vertical-card-image" alt="味噌カツ">
                        <div class="card-img-overlay d-flex justify-content-center align-items-center overlay-background">
                            <h3 class="card-title">伏見・丸の内</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="restaurants?category_id=32" class="card-link">
                    <div class="card text-white">
                        <img src="img_eria05.jpg" class="card-img vertical-card-image" alt="揚げ物">
                        <div class="card-img-overlay d-flex justify-content-center align-items-center overlay-background">
                            <h3 class="card-title">豊田</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="restaurants?category_id=26" class="card-link">
                    <div class="card text-white">
                        <img src="img_eria06" class="card-img vertical-card-image" alt="モーニング">
                        <div class="card-img-overlay text-align-center d-flex justify-content-center align-items-center overlay-background">
                            <h3 class="card-title">セントレア<br>空港</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="item_link mb-5">
            <a href="restaurants?category_id=1" class="item_btn">岡崎市</a>
            <a href="restaurants?category_id=2" class="btn item_btn">鶴舞</a>
            <a href="restaurants?category_id=3" class="btn item_btn">金山</a>
            <a href="restaurants?category_id=5" class="btn item_btn">国際センター・円頓寺</a>
            <a href="restaurants?category_id=6" class="btn item_btn">星ヶ丘・本郷</a>
            <a href="restaurants?category_id=7" class="btn item_btn">今池・池下・千種</a>
            <a href="restaurants?category_id=8" class="btn item_btn">犬山市</a>
            <a href="restaurants?category_id=9" class="btn item_btn">豊橋市</a>
            <a href="restaurants?category_id=10" class="btn item_btn">瀬戸市</a>
            <a href="restaurants?category_id=11" class="btn item_btn">一宮市</a>
            <a href="restaurants?category_id=12" class="btn item_btn">熱田区</a>
            <a href="restaurants?category_id=13" class="btn item_btn">天白区</a>
            <a href="restaurants?category_id=14" class="btn item_btn">緑区</a>
            <a href="restaurants?category_id=16" class="btn item_btn">瑞穂区</a>
            <a href="restaurants?category_id=15" class="btn item_btn">名古屋港水族館</a>
            <a href="restaurants?category_id=17" class="btn item_btn">ナゴヤドーム</a>
        </div>
    </div>
</section>

<section class="popular sec">
    <div class="wrap">

        <h2 class="mb-3">人気のお店</h2>
        <div class="row row-cols-xl-6 row-cols-md-3 row-cols-2 g-3 mb-5">
            {% for object in object_list %}
            <div class="col">
                {% include 'snippets/shop_box.html' %}
            </div>
            {% endfor %}
            <!-- <div class="col">
                <a href="restaurants/96" class="link-dark card-link">
                    <div class="card h-100">
                        <img src="https://nagoyameshi-pattern-1.herokuapp.com/storage/restaurants/burger.jpg" class="card-img-top vertical-card-image">
                        <div class="card-body">
                            <h3 class="card-title">NAGOYA BURGER 名駅店</h3>
                            <div class="text-muted small mb-1">
                                <div class="d-inline-block">
                                    ハンバーガー
                                </div>
                            </div>
                            <p class="card-text">
                                <span class="star-rating me-1" data-rate="4.5"></span>
                                4.6
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="restaurants/98" class="link-dark card-link">
                    <div class="card h-100">
                        <img src="https://nagoyameshi-pattern-1.herokuapp.com/storage/restaurants/yakiniku01.jpg" class="card-img-top vertical-card-image">
                        <div class="card-body">
                            <h3 class="card-title">大衆焼肉酒場 ホルモン屋 栄店</h3>
                            <div class="text-muted small mb-1">
                                <div class="d-inline-block">
                                    焼肉
                                </div>
                                <div class="d-inline-block">
                                    居酒屋
                                </div>
                            </div>
                            <p class="card-text">
                                <span class="star-rating me-1" data-rate="4"></span>
                                4.14
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="/restaurants/46" class="link-dark card-link">
                    <div class="card h-100">
                        <img src="https://nagoyameshi-pattern-1.herokuapp.com/storage/restaurants/yakitori01.jpg" class="card-img-top vertical-card-image">
                        <div class="card-body">
                            <h3 class="card-title">炭火やきとり マメ</h3>
                            <div class="text-muted small mb-1">
                                <div class="d-inline-block">
                                    焼き鳥
                                </div>
                            </div>
                            <p class="card-text">
                                <span class="star-rating me-1" data-rate="4"></span>
                                4.17
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="restaurants/58" class="link-dark card-link">
                    <div class="card h-100">
                        <img src="https://nagoyameshi-pattern-1.herokuapp.com/storage/restaurants/dummy.jpg" class="card-img-top vertical-card-image">
                        <div class="card-body">
                            <h3 class="card-title">リッツィエーリ</h3>
                            <div class="text-muted small mb-1">
                                <div class="d-inline-block">
                                    中華料理
                                </div>
                            </div>
                            <p class="card-text">
                                <span class="star-rating me-1" data-rate="4"></span>
                                3.88
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="restaurants/72" class="link-dark card-link">
                    <div class="card h-100">
                        <img src="https://nagoyameshi-pattern-1.herokuapp.com/storage/restaurants/dummy.jpg" class="card-img-top vertical-card-image">
                        <div class="card-body">
                            <h3 class="card-title">ボパ</h3>
                            <div class="text-muted small mb-1">
                                <span>カテゴリ未設定</span>
                            </div>
                            <p class="card-text">
                                <span class="star-rating me-1" data-rate="3.5"></span>
                                3.7
                            </p>
                        </div>
                    </div>
                </a>
            </div> -->
        </div>
    </div>
</section>


<!-- ↑↑ main ↑↑ -->

{% endblock %}