{% load static %}
<div id="header">
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container">
            <a class="navbar-brand app-name" href="{% url 'index' %}">
                <div class="logo d-flex align-items-center">
                    <img class="logo_img me-1" src="{% static 'assets/images/logo.png' %}" alt="nagoyameshi">
                    <h1>NAGOYAMESHI</h1>
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav row ms-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'mypage' %}">マイページ</a>
                    </li>
                    <!-- 後々はマイページの中に入れる -->
                    <li class="nav-item">
                        <a class="nav-link" href="/logout/">ログアウト</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/signup/">新規登録</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login/">ログイン</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>